10.1.0.0
10.2.0.0
2001:db8::
fe80::
0000.1111.0000

int eth1 eth $thisMac1$ $thisSock1$ $prevSock2$
int eth2 eth $thisMac1$ $thisSock2$ $nextSock1$

hostname r$thisNum$
vrf def v1
 rd 1:1
 label-mode per-prefix
 exit
server telnet tel
 vrf v1
 exit
router ospf4 1
 vrf v1
 router $thisLoop4a$
 traffeng $thisLoop4a$
 area 0 ena
 area 0 traff
 red conn
 exit
router ospf6 1
 vrf v1
 router $thisLoop4a$
 traffeng $thisLoop4a$
 area 0 ena
 area 0 traff
 red conn
 exit
int lo1
 vrf for v1
 ipv4 addr $thisLoop4a$ 255.255.255.255
 ipv6 addr $thisLoop6a$ ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff
 mpls rsvp4
 mpls rsvp6
 exit
int eth1
 vrf for v1
 ipv4 addr $prevNet4a2$ 255.255.255.252
 ipv6 addr $prevNet6a2$ ffff:ffff:ffff:ffff:ffff:ffff:ffff:fffc
 router ospf4 1 ena
 router ospf6 1 ena
 mpls enable
 mpls rsvp4
 mpls rsvp6
 mpls ldp4
 mpls ldp6
 exit
int eth2
 vrf for v1
 ipv4 addr $thisNet4a1$ 255.255.255.252
 ipv6 addr $thisNet6a1$ ffff:ffff:ffff:ffff:ffff:ffff:ffff:fffc
 router ospf4 1 ena
 router ospf6 1 ena
 mpls enable
 mpls rsvp4
 mpls rsvp6
 mpls ldp4
 mpls ldp6
 exit
