0                       ;port to use...


;connection slots...
\system\communication\serialGateway.code ` 1 termout-ansi.code \system\authentication\login.code serial \ \utils\shell.code
\system\communication\serialGateway.code ` 1 termout-ansi.code \system\authentication\login.code serial \ \utils\shell.code
\system\communication\serialGateway.code ` 1 termout-ansi.code \system\authentication\login.code serial \ \utils\shell.code
\system\communication\serialGateway.code ` 1 termout-ansi.code \system\authentication\login.code serial \ \utils\shell.code
\system\communication\serialGateway.code ` 1 termout-ansi.code \system\authentication\login.code serial \ \utils\shell.code
