0                       ;server port...
eth4.code               ;interface to use...
10.1.0.1                ;gateway to report...
255.0.0.0               ;netmask to report...
10.1.0.2 10.1.0.3       ;dnses to report...
mchome.hu               ;domain name to report...
localhost.localdomain   ;server where from boot...
/temp/x86.img           ;file to boot...
3600                    ;lease time in seconds...

10.1.0.2                ! 0040f68c77cc          ;fixed address...
10.1.0.60               10                      ;free addresses...
