0                     ;local public Port (0=default)
-1                    ;local secure Port (-1=disabled)
http.mimetypes        ;mime types
http.hosts            ;hosts file
c:\temp\              ;temporary path
4                     ;simultaneous cgis
8                     ;simultaneous connections from one host
60                    ;cgi timeout
