0                               ;authentication port (0=default)...
0                               ;accounting port (-1=disabled)...
radiuSecret                     ;shared secret to use...
radius-%.log                    ;file to log to (%=date)...
1                               ;lock log file (0=no, 1=yes)...
                                ;authenticator process (empty=local database, anything=process with pap)

;attributes to append...
;101     ip4     10.1.0.1
;102     ip6     1234::4321
;103     txt     hello there...
;104     num     $12345678
;105     bin     123 12 23 34 45 56 67 78 89 90 123
