0                     ;local public Port (0=default)
-1                    ;local secure Port (-1=disabled)
smtp.hosts            ;relay hosts
smtp.users            ;known users
c:\temp\              ;temporary path
                      ;relay server
                      ;relay user
                      ;relay pass
