0                     ;local port (0=default)
tacacs-%.log          ;file to log to (%=date)...
tacacSecret           ;shared secret...
1                     ;lock log file (0=no, 1=yes)...
user:                 ;username prompt...
code:                 ;password prompt...
ok!                   ;good prompt...
bad!                  ;bad prompt...
                      ;authenticator process (empty=local database, anything=process with pap)
