termout-ansi.code                       ;terminal filter
c:\system\authentication\login.code     ;startup process
telnet c:\ c:\utils\shell.code          ;startup parameters
0                                       ;user id to give
tcp.code 23                             ;protocol port...
;tls.code 992                            ;protocol port...
;dtls.code 992                           ;protocol port...
;dccp.code 23                            ;protocol port...
;udp.code 23                             ;protocol port...
;ssh.code 23                             ;protocol port...
;end of list...


;startup string to send...
255 251 0       ;will binary
255 253 0       ;do binary

255 251 1       ;will echo
255 254 1       ;dont echo

255 251 3       ;will sga
255 254 3       ;dont sga

13 13 13 13     ;cr cr cr cr
