0                                       ;local Port (0=default)
termout-ansi.code                       ;terminal filter
c:\system\authentication\login.code     ;startup process
telnet c:\ c:\utils\shell.code          ;startup parameters
0                                       ;user id ro give
