0                                       ;local Port (0=default)
                                        ;name of server
faszom                                  ;access password
320                                     ;screen x size
200                                     ;screen y size
\system\graphic\graphicon.code          ;program to start
` ` \system\graphic\graphicon.cfg       ;parameters to give (`=pidofme)
