0                               ;port to use...
                                ;my ip4 address (empty=discover)...
                                ;my ip6 address (empty=discover)...
\internet\kernel\ip4conf.code   ;ip4 configurator...
\internet\kernel\ip6conf.code   ;ip6 configurator...


;connection slots...
10.1.0.100                    16
1234::4321                    16
