0                       ;port to use...


;connection slots...
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
\system\communication\x25.code ` dce mod8
