127.0.0.1                       ;server name...
0                               ;server port...
mc36                            ;username...
faszom                          ;password...
1                               ;delete messages (1=yes, 0=no)...
2                               ;authentication (1=usr/pwd, 2=apop/md5)...
\!users\mc36\mail\              ;target directory...
