Source: freerouter
Section: net
Priority: optional
Build-Depends: debhelper (>= 9.20160709~),
               dpkg-dev (>= 1.16.1.1~),
	       libpcap-dev,
	       default-jdk,
	       javahelper,
	       dh-sysuser
Maintainer: Jean-Rémy Buchs <jrb0001@692b8c32.de>
Standards-Version: 4.1.4

Package: freerouter
Architecture: any
Pre-Depends: adduser
Depends: ${misc:Depends}, ${java:Depends}
Recommends: freerouter-native
Description: free, open source router os process
 it speaks routing protocols, and (re)encapsulates packets on interfaces
 since it handles packets itself, it is independent of underlaying os
 capabilities (optionally, it can export forwarding tables through 
 openflow to external switch) since it is an unprivilegized process, it 
 receives and sends packets through sockets there are external, privileged
 processes that place traffic to these sockets (it means that internet can
 be used as backplane for router processes) the command line tries to 
 mimic the industry standards with one exception: no global routing table:
 every routed interface must be in a virtual routing table positive side 
 effect: there are no vrf-awareness questions

Package: freerouter-native
Architecture: amd64
Pre-Depends: adduser
Depends: ${misc:Depends}, ${shlibs:Depends}, libpcap0.8
Description: Native tools for better performance than socat.
 These tools are completely optional but should deliver better performance
 than socat.

