10.1.0.1                        ;server name...
0                               ;server port...

;request...
sendByte 4 1                    ;version, command...
sendPort 3                      ;send 3rd byte...
sendPort 4                      ;send 4th byte...
sendAddr 13                     ;send 13th byte...
sendAddr 14                     ;send 14th byte...
sendAddr 15                     ;send 15th byte...
sendAddr 16                     ;send 16th byte...
sendText mc36                   ;userid...
sendByte 0                      ;end of userid...

;result...
testNext 0                      ;version...
testNext 90                     ;result...
recvBytes 6                     ;port, address...

;connected...