10.1.0.1                        ;server name...
0                               ;server port...

;authentication...
sendByte 5 1 0                  ;version, methods, authmode...
testNext 5                      ;version...
testNext 0                      ;mode...

;connection...
sendByte 5 1 0 1                ;version, command, reserved, addresstype...
sendAddr 13                     ;send 13th byte...
sendAddr 14                     ;send 14th byte...
sendAddr 15                     ;send 15th byte...
sendAddr 16                     ;send 16th byte...
sendPort 3                      ;send 3rd byte...
sendPort 4                      ;send 4th byte...

;result...
testNext 5                      ;version...
testNext 0                      ;result...
recvBytes 1                     ;reserved...
testNext 1                      ;addresstype...
recvBytes 6                     ;address, port...

;connected...