1234::1234                      ;server name...
0                               ;server port...

;authentication...
sendByte 5 1 0                  ;version, methods, authmode...
testNext 5                      ;version...
testNext 0                      ;mode...

;connection...
sendByte 5 1 0 4                ;version, command, reserved, addresstype...
sendAddr 1                      ;send 1st byte...
sendAddr 2                      ;send 2nd byte...
sendAddr 3                      ;send 3rd byte...
sendAddr 4                      ;send 4th byte...
sendAddr 5                      ;send 5th byte...
sendAddr 6                      ;send 6th byte...
sendAddr 7                      ;send 7th byte...
sendAddr 8                      ;send 8th byte...
sendAddr 9                      ;send 9th byte...
sendAddr 10                     ;send 10th byte...
sendAddr 11                     ;send 11th byte...
sendAddr 12                     ;send 12th byte...
sendAddr 13                     ;send 13th byte...
sendAddr 14                     ;send 14th byte...
sendAddr 15                     ;send 15th byte...
sendAddr 16                     ;send 16th byte...
sendPort 3                      ;send 3rd byte...
sendPort 4                      ;send 4th byte...

;result...
testNext 5                      ;version...
testNext 0                      ;result...
recvBytes 1                     ;reserved...
testNext 4                      ;addresstype...
recvBytes 18                    ;address, port...

;connected...