0                       ;port to use...



---

welcome to my server!
the following processes are running:
smtp
pop3
---

---
smtp
this is the simple message transfer protocol
handler on this server. this process is used
to receive mail from other hosts and to local
users and to transfer locally written messages
to foreign hosts...
---

---
pop3
this is the post office protocol handler
on this server. this process is used to
by users to download their messages to
their computers...
---
