;line format: srcAddr trgAddr proto srcPort trgPort action(s)
;
;address: <ipaddr> <ipmask>     - ip address with mask...
;         host <ipaddr>         - single ip address...
;         any                   - any ip address...
;
;protocol: conn                 - tcp syn packet...
;          data                 - tcp without syn...
;          tcp                  - tcp packet...
;          udp                  - any udp packet...
;          any                  - any type of packet...
;
;port: <number>                 - single port number...
;      range <first> <last>     - range of port numbers...
;      any                      - any port number...
;
;action: permit                 - permit packet...
;        deny                   - deny packet...
;        sa <ipaddr>            - change source address...
;        ta <ipaddr>            - change target address...
;        sp <number>            - change source port number...
;        tp <number>            - change target port number...


10.1.0.2 255.255.255.255 1.2.3.4 255.255.255.255 tcp any 110 ta 10.1.0.53 tp 23 sa 4.3.2.1
10.1.0.53 255.255.255.255 4.3.2.1 255.255.255.240 tcp 23 any sa 1.2.3.4 sp 110 ta 10.1.0.2

10.1.0.53 255.255.255.255 1.2.3.4 255.255.255.255 tcp any 110 ta 10.1.0.2 tp 23 sa 4.3.2.1
10.1.0.2 255.255.255.255 4.3.2.1 255.255.255.240 tcp 23 any sa 1.2.3.4 sp 110 ta 10.1.0.53

any any any any any permit      ;permit any packet to travel through...
