0                                       ;local port (0=default)...
0                                       ;local port (-1=disabled)...
21                                      ;hash list to use; 1=md5, 2=sha1...
134256                                  ;cipher list to use; 1=aes, 2=blowfish, 3=3des, 4=rc5, 5=des, 6=cast...
4                                       ;size divistor for dh kex...
256                                     ;min bit size for dh kex...
1024                                    ;max bit size for dh kex...


;address                0=passive/1=active      key
10.1.0.2                1                       faszom
