via-vt6105.code         ;device to use...
eth4.code               ;device manages...
0                       ;port number...
10.1.0.2                ;first hop lsr...
001122334455            ;virtual mac address...


;type: eth, vlan, ppp, hdlc, ip
;peer address   type    vc      mtu
10.1.1.102      ip      1234    1500
