127.0.0.1                       ;server name...
0                               ;server port...

;available commands...
sendAddr                        ;send internet address in text form...
sendAddr 13                     ;send 13rd byte...
sendAddr 14                     ;send 14th byte...
sendAddr 15                     ;send 15th byte...
sendAddr 16                     ;send 16th byte...

sendPort                        ;send port in text form...
sendPort 4                      ;send 4th byte...
sendPort 3                      ;send 3rd byte...

sendText :                      ;send 1 byte...
sendByte 13 10                  ;send 2 bytes...

recvBytes 3                     ;receive 3 bytes...
waitFor 13                      ;wait for char #13...
testNext 10                     ;test next char...
recvPasStr                      ;receive pascal script...
recvAscZstr                     ;receive asciiZ string...
