21                                      ;hash list to use; 1=md5, 2=sha1...
1352                                    ;cipher list to use; 1=aes, 2=des, 3=3des, 4=rc2, 5=rc4...
c:\system\hostKeys\diffieHellman.groups ;diffie hellman key to use...
c:\system\hostKeys\sample512.rsa        ;512bit rsa key to use...
4                                       ;size divistor for dh kex...
256                                     ;min bit size for dh kex...
1024                                    ;max bit size for dh kex...
c:\system\hostKeys\currentKey.dss       ;dss key to use...
c:\system\hostKeys\currentKey.rsa       ;rsa key to use...
c:\system\hostKeys\currentCert.dss      ;dss certificate to use...
c:\system\hostKeys\currentCert.rsa      ;rsa certificate to use...
